<div class="exhibitions">  
  <div class="row">
    <div class="exhibition-nav columns small-12">
      <a href="{{ site.baseurl }}/exhibitions">← Back  to exhibitions</a> | <a href="{{ site.baseurl }}/courses/{{page.course | slugify | remove: '-' }}">DMD 300: Digital Multimedia Design Studio</a>
      <hr>
      <!-- <h1 class="page-heading">{{include.exhibition-title}}</h1> -->
      <!-- <div class="row columns">
          <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
            <ul class="orbit-container">
              <button class="orbit-previous" aria-label="previous"><span class="show-for-sr">Previous Slide</span>&#9664;</button>
              <button class="orbit-next" aria-label="next"><span class="show-for-sr">Next Slide</span>&#9654;</button>
              <li class="orbit-slide is-active">
                <img src="http://placehold.it/1200x450">
              </li>
              <li class="orbit-slide">
                <img src="http://placehold.it/1200x450">
              </li>
              <li class="orbit-slide">
                <img src="http://placehold.it/1200x450">
              </li>
              <li class="orbit-slide">
                <img src="http://placehold.it/1200x450">
              </li>
            </ul>
          </div>
        </div> -->
        <div class="row">
          <div class="column small-8 small-push-2 medium-6 medium-push-3 text-center {{ page.exhibition | slugify }} exhibition-header">
            <img class="exhibition-title-img" src="{{ site.baseurl }}{{page.exhibition-image}}" alt="abstract image that represent the exhibition">
            <h1 class="{{ page.exhibition | slugify }} head-spacing">{{page.title}}</h1>
            <p class="text-left">{{page.description}}</p>
            <!-- <a href="#" class="button large">Learn More</a>
            <a href="#" class="button large hollow">Learn Less</a> -->
          </div>
        </div>
        <!-- <hr> -->
    </div>
    <div class="columns small-12">
        <div class="row">
            <div class="columns small-8 small-push-2 foot-spacing">
      {% include projects.html exhibition-theme=include.exhibition-theme projects=site.projects exhibition=page.exhibition %}
        </div>
      </div>
    </div>
    
  </div>
</div>