---
layout: default
---
<div class="{{page.url | remove: 'private/' | remove: page.slug | slugify }}-style">
<div class="{{ page.exhibition | slugify }} exhibition-nav row column">
  
  {% if page.private == true %}
  <a href="{{ site.baseurl }}/private/exhibitions/{{ page.exhibition | slugify }}">← Back</a>
  {% else %}
  <a href="{{ site.baseurl }}/exhibitions/{{ page.exhibition | slugify }}">← Back</a>
  {% endif %}
  <!-- <a href="{{ site.baseurl }}/exhibitions/{{ page.exhibition | slugify }}">← Back  to {{ page.exhibition }}</a> -->
  <!-- <hr class="{{ page.exhibition | slugify }}"> -->
  
</div>
<div class="row exhibition-header">
  <div class="column small-12 medium-6 large-7">
  </div>
</div>
<div class="row">
  <article class="theme-left-col column small-12 medium-6 large-5 {{ page.exhibition | slugify }}">
    <p class="{{ page.exhibition | slugify }}--title">{{ page.title }}</p>
    <p class="{{ page.exhibition | slugify }}--name">{{ page.name }}</p> 
    {% if page.project-download-link %}
    <hr>
    <p>DOWNLOAD: <a href="{{ site.baseurl }}/assets/projects/exhibitions/{{ page.ex-folder }}/{{ page.student-folder }}/{{ page.project-download-link }}"><i class="fa fa-arrow-down"></i> {{ page.project-download-link | truncate: 20 }}</a></p>
    {% else %}
    {% endif %}
    {% if page.production-blog %}
    <p>PRODUCTION BLOG: <a href="{{ page.production-blog }}"><i class="fa fa-external-link"></i> {{ page.production-blog | truncate: 20 }}</a></p>
    {% endif %}
    {% if page.project-doc %}
    <p>PROJECT DOC: <a href="{{ page.project-doc }}"><i class="fa fa-arrow-down"></i> {{ page.project-doc | truncate: 20 }}</a></p>
    {% endif %}
    {% if page.project-external-link %}
    <p>PROJECT SITE: <a href="{{ page.project-external-link }}"><i class="fa fa-external-link"></i> {{ page.project-external-link | truncate: 20 }}</a></p>
    <hr>
    {% else %}
    <hr>
    {% endif %}
    <div class="{{ page.exhibition | slugify }}--content exhibition-content">{{ page.content }}</div>
  </article>
  <aside class=" column small-12 medium-6 large-7">
      <div class="row small-up-2">
        {% include media-player.html id="" provider="local" %}
        {% include gallery-advanced style=page.gallerymode size="1" caption="" %}
          </div>  
      </div>
    </aside>
</div>
</div>